body {
    font-family: Arial;
    margin: 0;
    background: #f4f4f4;
}

.login-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}

.login-box input, button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
}

.navbar {
    background: #2c3e50;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}

.menu {
    position: relative;
    cursor: pointer;
}

.dropdown {
    display: none;
    position: absolute;
    right: 0;
    background: white;
}

.menu:hover .dropdown {
    display: block;
}

.hero {
    background: url('../images/mountain.jpg') center/cover;
    height: 250px;
    color: white;
    text-align: center;
    padding-top: 100px;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    padding: 20px;
    gap: 15px;
}

.product-card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
